body{

}

.carousel-item img{
    width: 100%;
    height: 350px;
}

.about-single-item{
    transition: .5s;
}

.about-single-item:hover{
    background-color:rgb(40, 58, 221);
    color: rgb(233, 43, 18);
}
.about-single-item p:hover{
    color: rgb(233, 43, 18);
}